/build
/lib/finti/lepture/
/bones
/src/nginx
.classpath
db/
eclipse-launch-profiles/
*.egg
*.egg-info
/etc/uwsgi.ini
/nginx
.project
*.pyc
.pydevproject
.settings/
*.sqlite
.swp
*.swp
target/
/var
/venv
/lib/finti/github.pat
